.night_mode #body-upper.noun.die,
.night_mode #body-lower.noun.die {
    background-color: #56435b !important;
}

.night_mode #body-upper.noun.der,
.night_mode #body-lower.noun.der {
    background-color: #375267 !important;
}

.night_mode #body-upper.noun.das,
.night_mode #body-lower.noun.das {
    background-color: #5e633b !important;
}

.night_mode .noun.die .term .noun {
    color: #db7ff0;
}

.night_mode .noun.der .term .noun {
    color: #61b6f2;
}

.night_mode .noun.das .term .noun {
    color: #c8d468;
}

.plural {
    opacity: 0.3;
}
