html, body {
    font-family: arial;
    font-size: 20px;
    margin: 0;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 2em;
    position: absolute;
    width: 100%;
}

.card {
    background-color: #ececec;
    color: #555;
}
.card.night_mode {
    background-color: #222;
    color: #ccc;
}

.card::after {
    background: url("skulls.png");
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.card.night_mode::after {
    opacity: 0.25;
}

#body-upper {
    border-radius: 5px;
    margin: 0 auto;
    max-width: 30em;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

#body-lower {
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    max-width: 30em;
    opacity: 0;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.card .german {
    background-color: #f5f5f5;
}
.card.night_mode .german {
    background-color: #4f4f4f;
}

.card .english {
    background-color: #eee;
}
.card.night_mode .english {
    background-color: #3e3e3e;
}

.card .back,
.card #body-upper {
    filter: drop-shadow(0 0 20px #ccc);
}
.card.night_mode .back,
.card.night_mode #body-upper {
    filter: drop-shadow(0 0 20px #171717);
}

.card .back.vulgar,
.card #body-upper.vulgar {
    filter: drop-shadow(0 0 10px #ff9782);
}
.card.night_mode .back.vulgar,
.card.night_mode #body-upper.vulgar {
    filter: drop-shadow(0 0 10px #de4949);
}

.back #body-upper {
    border-radius: 5px 5px 0 0;
    filter: none !important;
}

.back #body-lower {
    opacity: 1;
}

.back #body-upper.vulgar {
    border-bottom-width: 0;
}

#body-upper.vulgar {
    border: 1px solid #ff9782;
}
.card.night_mode #body-upper.vulgar {
    border: 1px solid #de4949;
}

.card .back #body-lower.vulgar {
    opacity: 1;
    border: 1px solid #ff9782;
    border-top-width: 0;
}
.card.night_mode .back #body-lower.vulgar {
    border: 1px solid #de4949;
}

.term {
    font-size: 1.5em;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
}

.term {
    color: #333;
}
.night_mode .term {
    color: #eee;
}

.example {
    font-size: 0.75em;
    margin-bottom: 0;
}

.example:empty {
    display: none;
}

.english.colloquial .term::after {
    content: " (coll.)";
    opacity: 0.3;
}

.german.colloquial .term::after {
    content: " (ugs.)";
    opacity: 0.3;
}

.german.der.die .term {
    display: inline-block;
}

.german.der.die .term .article {
    text-align: right;
    width: 2em;
}

.german.der.die .term .noun {
    display: flex;
}
